@model RegisterViewModel
@{
    ViewData["Title"] = "Créer un compte";
}

<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["Message"]</p>
<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <h4>Créer un nouveau compte.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ValueOne" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ValueOne" class="form-control" />
            <span asp-validation-for="ValueOne" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ValueTwo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ValueTwo" class="form-control" />
            <span asp-validation-for="ValueTwo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Créer un compte</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
